@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');
html,
body {
  height: 100%;
  margin: 0;
  font-family: 'EB Garamond', serif;
}

body {
  background: rgb(14, 68, 117);
  background: -moz-linear-gradient(
    90deg,
    rgba(14, 68, 117, 1) 15%,
    rgba(43, 130, 175, 1) 25%,
    rgba(43, 130, 175, 1) 75%,
    rgba(14, 68, 117, 1) 85%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(14, 68, 117, 1) 15%,
    rgba(43, 130, 175, 1) 25%,
    rgba(43, 130, 175, 1) 75%,
    rgba(14, 68, 117, 1) 85%
  );
  background: linear-gradient(
    90deg,
    rgba(14, 68, 117, 1) 15%,
    rgba(43, 130, 175, 1) 25%,
    rgba(43, 130, 175, 1) 75%,
    rgba(14, 68, 117, 1) 85%
  );
}

/* ---- Fonts ---- */

.font-grey {
  font-family: 'Georgia', serif;
  color: #6f6e6e;
}

.font-light-grey {
  font-family: 'Georgia', serif;
  color: #a3a3a3;
}

.font-light-blue {
  font-family: 'Georgia', serif;
  color: #2c83b0;
}

.break-word {
  word-wrap: break-word;
}

mark {
  background: orange;
  color: black;
}

/* ---- Header ---- */

header {
  background: rgb(43, 44, 45);
  background: -moz-linear-gradient(
    225deg,
    rgba(43, 44, 45, 1) 11%,
    rgba(17, 18, 19, 1) 25%
  );
  background: -webkit-linear-gradient(
    225deg,
    rgba(43, 44, 45, 1) 11%,
    rgba(17, 18, 19, 1) 25%
  );
  background: linear-gradient(
    225deg,
    rgba(43, 44, 45, 1) 11%,
    rgba(17, 18, 19, 1) 25%
  );
  color: white;
  /* ---- Glow Effect ---- */
  -webkit-box-shadow: 0 -1px 100px 63px rgba(196, 218, 229, 1);
  -moz-box-shadow: 0 -1px 100px 63px rgba(196, 218, 229, 1);
  box-shadow: 0 -1px 100px 63px rgba(196, 218, 229, 1);
}

#header-motto {
  color: #a3a3a3;
  font-weight: lighter;
}

/* ---- Search bar ---- */

.search {
  border-radius: 100px;
  height: 25px;
}

/* ---- Navbar ---- */

.navbar-brand img {
  width: 225px;
}

@media (min-width: 576px) {
  .navbar-brand img {
    width: 400px;
  }
}

nav .navbar-nav li a {
  color: #ffffff !important;
}

nav .navbar-nav li a:hover {
  filter: brightness(75%);
}

@media (min-width: 1200px) {
  nav .navbar-nav li a {
    padding-top: 30px;
  }
}

/* ---- Carousel  ---- */

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #2c83b0;
}

.carousel-indicators .active {
  background-color: #a3a3a3;
}

.carousel-indicators {
  text-align: left;
  float: left;
  right: inherit;
}

/* ---- Social Icons ---- */

.social-icons a {
  text-align: center;
  float: left;
  width: 3.15em;
  height: 3.15em;
  background-color: #313133;
  border-radius: 100%;
  margin-right: 7px;
  /*space between*/
}

.social-icons a:hover {
  filter: brightness(150%);
}

.social-icons a i {
  font-size: 2em;
  line-height: 1.6em;
  color: #b9b9b7;
}

/* ---- Posts ---- */

main .container {
  background-color: #fff;
}

.btn-read-more {
  background: rgb(90, 167, 206);
  background: -moz-linear-gradient(
    180deg,
    rgba(90, 167, 206, 1) 0%,
    rgba(71, 131, 161, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(90, 167, 206, 1) 0%,
    rgba(71, 131, 161, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(90, 167, 206, 1) 0%,
    rgba(71, 131, 161, 1) 100%
  );
  color: #e2e1e1;
  font-size: 0.75em;
  font-family: 'Helvetica Neue';
  border-radius: 2px;
  padding: 5px 40px;
  margin-top: 100px;
  text-decoration: none;
}

.btn-read-more:hover {
  color: white;
  text-decoration: none;
}

.post-content {
  margin-bottom: 0.3em;
  font-family: Georgia;
  text-align: justify;
  text-justify: inter-word;
}

.post-date {
  font-size: 0.75em;
}

.post-image {
  border: 7.5px solid #e9e9e9;
}

.btn-post-page {
  font-family: Georgia;
  background-color: #eeeeee;
  border: none;
  color: #9a9a9a;
  padding: 0 10px;
}

.btn-post-page:hover {
  filter: brightness(85%);
}

.page-selected {
  background-color: #c1c1c1;
  color: #ffffff;
}

#post-page-number {
  font-family: Georgia;
  background-color: #eeeeee;
  border: none;
  color: #9a9a9a;
  padding: 0 10px;
  display: inline-block;
}

.post-more-content span {
  display: none;
}

/* ---- Sidebar ---- */

#sidebar {
  background: rgb(231, 231, 231);
  background: -moz-linear-gradient(
    180deg,
    rgba(231, 231, 231, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(231, 231, 231, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(231, 231, 231, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.sidebar-text {
  margin: 0;
  font-family: 'Georgia', serif;
  color: #6f6e6e;
}

.sidebar-header-text {
  font-family: 'EB Garamond', serif;
  color: #303030;
}

/* ---- Sponsors ---- */

#sponsors {
  background-color: #fff;
}

.sponsor-image-frame {
  border: 5px solid #e9e9e9;
  height: 100%;
}

.sponsor-image-wrapper {
  padding: 5px;
}

.sponsor-gutter > [class*='col-'] {
  padding-right: 5px;
  padding-left: 5px;
}

/* ---- Footer ---- */

footer {
  background-color: #000;
  color: #fff;
}

.flickr-image-wrapper {
  padding: 0 0.3em 0.3em 0;
}

.footer-contact {
  margin: 0;
  font-family: 'Georgia', serif;
  color: #6f6e6e;
}

#footer-about-text {
  text-align: justify;
  text-justify: inter-word;
}
